.text-box {
  width: 65%;
  border: 3px solid #2e3336;
  padding: 10px;
  border-radius: 10px;
}

.text-box p {
  padding-left: 30px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-around;
  
}
