@media(max-width: 1100px) {
  .planning-board {
    width: 90%;
  }
  .countries-in-plan {
    grid-template-columns: repeat(6, 120px);
  }

}

@media(max-width: 950px) {
  .countries-in-plan {
    grid-template-columns: repeat(5, 120px);
  }

}

@media(max-width: 870px) {
  .countries-in-plan {
    grid-template-columns: repeat(5, 100px);
  }

  .countries-in-plan span {
    font-size: 1.1rem;

  }
}

@media(max-width: 760px) {
  .countries-in-plan {
    grid-template-columns: repeat(4, 100px);
  }
}


@media(max-width: 600px) {
  .countries-in-plan {
    grid-template-columns: repeat(4, 80px);
  }
  .countries-in-plan span {
    font-size: 0.8rem;
  }

  .country-in-plan {
    height: 60px;
  }
  .countries-in-plan h3 {
    font-size: 1.2rem;
  } 
}

@media(max-width: 480px) {
  .countries-in-plan {
    grid-template-columns: repeat(3, 80px);
  }
  /* .trip-buttons .trip-delete-button button {
    width: 200px;
  } */
}