@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);



.weather-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.widget {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.weatherIcon{
  /* background: linear-gradient(to right, #e65245, #e43a15);  */
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weatherIcon img{
  height: 85%;
  object-fit: cover;
}


.weatherInfo {
  background-color: #2e3336;
  height: 30%;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
}


.temperature {
  color: #c5cdcf;
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 2.9375em;
  margin: 0;
  padding: 0 10px;
}


.city {
  color: #c5cdcf;
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 1.1875em;
  line-height: 1.1875em;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}