.weather-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.weather-container .weather-box {
  width: 400px;
  height: 200px;
  border-radius: 20px;
  background: linear-gradient(to right, #e65245, #e43a15); 
  display: flex;
  gap: 10%;
}

.temp-countryName {
  width: 50%;
  height: 100%;
}

.weather-box h2 {
  text-align: right;
  padding: 0 30px;
  color: white;
  font-weight: 300;
  font-size: 2.3em;
  height: 10%;
}
.weather-box h4 {
  text-align: right;
  padding: 0 35px;
  color: white;
  font-weight: 300;
  font-size: 2.2em;
}

.weather-icon {
  display: flex;
  align-items: center;
  font-size: 4rem;
  color: #f9d71c;
  width: 50%;
  height: 100%;
}