.register-form {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 20%;
}

.register-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-inputs input  {
  width: 280px;
  height: 30px;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.3rem;
}

.register-inputs input:focus {
  outline: none; 
  border: 2px solid #e65245;
}


.register-inputs select {
  padding: 20px;
  font-size: 1.3rem;
}

.register-form button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(to right, #e65245, #e43a15);
  color: #f4f4f4;
  font-size: 1.2rem;
  cursor: pointer;
  border-style: none;
}

.register-form button:hover {
  background: linear-gradient(to right, #9e3d34, #e43a15);
}

/* First name & Last name */

.register-first-last-name {
  display: flex;
  gap: 10px;
}

/* Email && Password && Profile Img */
.register-email, .register-password, .register-profile-img {
  display: flex;
  justify-content: center;
}

.register-email input, .register-password input,
.register-profile-img input {
  width: 100%;
}

/* Age && city */

.register-age-city {
  display: flex;
  gap: 10px;
}

/* Gender */

.register-gender {
  display: flex;
  justify-content: center;
}

