@media(max-width: 1160px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 680px) {
  .card-name{
    font-size: 0.5rem;
  }

  .card button {
    width: 100%;
    height: 30px;
 
  }
}