.profile-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-box {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Profile Top - Edit&image&name */

.profile-top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-edit-button {
  width: 100%;
  transform: translate(55px, 42px);
}

.profile-edit-button button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(to right, #e65245, #e43a15);
  color: #f4f4f4;
  font-size: 1.2rem;
  cursor: pointer;
  border-style: none;
}

.profile-edit-button button:hover {
  background: linear-gradient(to right, #9e3d34, #e43a15);
}


.profile-image-box {
  width: 27%;
  display: flex;
  justify-content: center;

}

.profile-image-box img {
  width: 100%;
  height: 250px;
  object-position: top;
}

.profile-name h3 {
  margin: 10px;
  font-size: 1.5rem;
}

.profile-age-city h5 {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.profile-email {
  margin-top: 10px;
}


/* Profile Bottom */
.profile-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.profile-about {
  width: 65%;
  border: 3px solid #e65245;
  padding: 10px;
  border-radius: 10px;
}

.profile-about p {
  padding-left: 30px;
}

.profile-interests {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  font-weight: bold;
}


.profile-buttons button, .countries-button-right-side button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(to right, #e65245, #e43a15);
  color: #f4f4f4;
  font-size: 1.3rem;
  cursor: pointer;
  border-style: none;
}

.profile-buttons button:hover, .countries-button-right-side button:hover {
  background: linear-gradient(to right, #9e3d34, #e43a15);
}

.orangeColor {
  color: #e43a15;
  font-size: 1.2rem;
}


.profile-buttons {
  margin-top: 50px;
}