@media(max-width: 1450px) {
  .partners-page-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 0;
  } 
}
@media(max-width: 1200px) {
  .cards-partners {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media(max-width: 925px) {
  .cards-partners {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width: 625px) {
  .cards-partners {
    grid-template-columns: repeat(2, 1fr);
    /* grid-column-gap: 5%; */
    grid-row-gap: 10px;
  }
  .partners-filters {
    flex-direction: column;
  }
  .card-partner-about {
    padding: 5px;
  }

}