@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
* {
  font-family: 'Roboto', sans-serif;

}

body {
  margin: 0;
  background-color: #dee6f2;
}

main { 
  display: flex;
  justify-content: space-around;
}

.main-container {
  width: 67%;
  height: 100%;
  margin-top: 20px;
  background-color: #ffff;
  border: 0.5px solid gray;
  border-radius: 10px;
  padding: 20px;
}

a{
  text-decoration: none;
}