.planning-trip-page-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.planning-instructions{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 36%;
}
.planning-trip-page-container h4 {
  margin: 0;

}

.planning-boards {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.list-countries {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}